.btns {
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  @include flex(row, center, center);
  .logout {
    @include btn;
    margin: 10px;
    background-color: #37474f;
    font-weight: 600;
    text-transform: uppercase;
  }
  .notify {
    @include btn;
    margin: 10px;
    background-color: white;
    color: black;
    font-weight: 600;
    text-transform: uppercase;
  }
}
