.login_wrapper {
  @include flex(column, center, center);
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100vh;
  form {
    @include flex(column, center, center);
    background-color: white;
    box-shadow: $shadow2;
    padding: 25px;
    border-radius: 5px;
    .login_info {
      @include flex(row, center, center);
      border: 1px solid gray;
      margin: 7px;
      border-radius: 3px;
      padding: 3px;
      .MdMail,
      .MdError {
        font-size: 24px;
        color: #303030;
      }
      input {
        border: none;
        outline: none;
        padding: 7px;
        text-transform: lowercase;
      }
    }
    h2 {
      font-weight: 600;
    }
    button {
      @include btn;
      margin-top: 0.5rem;
      background-color: #0277bd;
    }
  }
}
